/* ==================================================================
    REPL HELP BLOCKS
================================================================== */

.repl-help {
    background-color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
    margin-bottom: 1em;
  }
  
  .repl-help h1,h2,h3 {
    font-size: 1em;
    font-weight: 500;
  }

/* ==================================================================
    BADGES
================================================================== */

.im-badge {text-align: center;}
.im-badge img {
    height: 1em;
    object-fit: scale-down;
}

/* ==================================================================
    Admonitions
================================================================== */

.tldr {
  background-color: rgba(34, 139, 34, 0.291);
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.tldr p {
  margin-bottom: 0em;
}

.advanced {
  background: #cb3d337a;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.vscode {
  background-color: #9558b248;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 1em;
}
