/* ==================================================================
    Admonitions
================================================================== */

.tldr {
  background-color: rgba(34, 139, 34, 0.291);
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.tldr p {
  margin-bottom: 0em;
}

.advanced {
  background: #cb3d337a;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.vscode {
  background-color: #9558b248;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 1em;
}
