/* ==================================================================
    REPL HELP BLOCKS
================================================================== */

.repl-help {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0.8em;
  }
  
  .repl-help h1,h2,h3 {
    font-size: 1em;
    font-weight: 500;
  }

/* ==================================================================
    BADGES
================================================================== */

.im-badge {text-align: center;}
.im-badge img {
    height: 1em;
    object-fit: scale-down;
}