/* ==================================================================
    REPL BLOCKS
================================================================== */

.hljs-meta.shell_ {
    color: red;
}

.hljs-meta.pkg_ {
    color: cornflowerblue;
}

.hljs-meta.help_ {
    color: goldenrod;
}

.julia-help {
    background-color: rgb(227, 227, 227);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 0.8em;
}

.julia-help h1,
h2,
h3 {
    font-size: 1em;
}